#rapport_parameters label, #rapport_parameters input { display: inline; }
tfoot label, tfoot input { display:inline; }
body { margin-top: 40px; }
th { white-space: nowrap; }

@font-face {
    font-family: 'Ako';
    src: url("../font/Ako.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.ako-icons {
    font-family: 'Ako';
}

#busy { display: none; position: fixed; left: 0; top: 0;
    width: 100%; height: 100%; background-color: rgba(192,192,192,.5);
    z-index: 1040; text-align: center;
}

#busy i { margin-top: 20%; }

.transactieForm { display: none; background-color: #ddd; margin-top: 1em; margin-bottom: 1em; padding: 10px; }