#rapport_parameters label, #rapport_parameters input { display: inline; }
tfoot label, tfoot input { display:inline; }
body { margin-top: 40px; }
th { white-space: nowrap; }

#busy { display: none; position: fixed; left: 0; top: 0;
    width: 100%; height: 100%; background-color: rgba(192,192,192,.5);
    z-index: 1040; text-align: center;
}

#busy i { margin-top: 20%; }

.transactieForm { display: none; background-color: #ddd; margin-top: 1em; margin-bottom: 1em; padding: 10px; }
.transactieForm .alert { display: none; }

table tr.soort { border-top: 2px solid #708090; }
table td.totalen { border-top: 2px solid #708090; }
table .money { text-align: right; }
table .datum { white-space: nowrap; }
table .omschrijving { width: 100%; }
table tbody.totalen tr { background-color: #eee; }