<h2>Kilometerprijs</h2>
<table class="table">
    <thead>
    <tr>
        <th>Begindatum</th>
        <th>Einddatum</th>
        <th>Prijs incl btw</th>
        <th>Btw%</th>
        <th>Valuta</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="prijs in kilometerPrijzen">
        <td>{{prijs.begindatum | date:'MM/dd/yyyy'}}</td>
        <td>{{prijs.einddatum | date:'MM/dd/yyyy'}}</td>
        <td class="money">{{prijs.prijsinclusiefbtw | number:2}}</td>
        <td class="money">{{prijs.btwpercentage | number:2}}</td>
        <td>{{prijs.valuta}}</td>
    </tr>
    </tbody>
</table>