<h2>Rapporten</h2>
<div class="row">
    <form id="rapport_parameters">
        <label>Begindatum:</label>
        <input name="begindatum" class="input-medium" type="date" ng-model="qryBegindatum" width="8" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
        <label for="einddatum">Einddatum:</label>
        <input name="einddatum" class="input-medium" type="date" ng-model="qryEinddatum" width="8"/>
        <input type="submit" value="Toon rapport" ng-click="toonRapport()"/>
    </form>
</div>

<table class="table" id="rapport">
    <thead>
    <tr>
        <th>Id</th>
        <th>Boek</th>
        <th>Datum</th>
        <th>Omschrijving</th>
        <th>Bonnr.</th>
        <th>Reknr.</th>
        <th>Af/Bij</th>
        <th>Valuta</th>
        <th class="money">Bedrag ex.</th>
        <th class="money">Bedrag in.</th>
        <th class="money">Btw%</th>
        <th>Soort</th>
        <th class="money">Km</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="regel in rapportRegels">
        <td>{{regel.id | number }}</td>
        <td>{{regel.boek}}</td>
        <td class="datum">{{regel.datum  | date:'MM/dd/yyyy'}}</td>
        <td class="omschrijving">{{regel.omschrijving}}</td>
        <td>{{regel.bonnummer | number }}</td>
        <td>{{regel.rekeningnummer | number }}</td>
        <td>{{regel.afbij}}</td>
        <td>{{regel.valuta}}</td>
        <td class="money">{{regel.bedragexclusiefbtw | number:2 }}</td>
        <td class="money">{{regel.bedraginclusiefbtw | number:2 }}</td>
        <td class="money">{{regel.btwpercentage | number:2 }}</td>
        <td>{{regel.transactiesoort}}</td>
        <td class="money">{{regel.kilometers | number }}</td>
    </tr>
    </tbody>
</table>