<h2>Rapporten</h2>
<div class="row">
    <form id="rapport_parameters">
        <label>Begindatum:</label>
        <input name="begindatum" class="input-medium" type="date" ng-model="qryBegindatum" width="8" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
        <label for="einddatum">Einddatum:</label>
        <input name="einddatum" class="input-medium" type="date" ng-model="qryEinddatum" width="8"/>
        <label for="valuta">Valuta:</label>
        <select name="valuta" class="input-small"  ng-model="qryValuta">
            <option value="EUR">Euro</option>
            <option value="NLG">Gulden</option>
            <option value="DM">Duitse Mark</option>
        </select>
        <label for="rapporttype">Rapport type:</label>
        <select name="rapporttype" class="input-small"  ng-model="qryRapporttype">
            <option value="inkomsten">Inkomsten</option>
            <option value="uitgaven">Uitgaven</option>
            <option value="saldo">Saldo</option>
        </select>
        <input type="submit" value="Toon rapport" ng-click="toonRapport()"/>
    </form>
</div>

<table class="table" id="rapport">
    <thead>
    <tr>
        <th>Id</th>
        <th>Boek</th>
        <th>Datum</th>
        <th>Omschrijving</th>
        <th>Bonnr.</th>
        <th>Reknr.</th>
        <th>Af/Bij</th>
        <th>Valuta</th>
        <th>Bedrag ex.</th>
        <th>Bedrag in.</th>
        <th>Btw%</th>
        <th>Soort</th>
        <th>Km</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="regel in rapportRegels">
        <td>{{regel.id | number }}</td>
        <td>{{regel.boek}}</td>
        <td>{{regel.datum  | date}}</td>
        <td>{{regel.omschrijving}}</td>
        <td>{{regel.bonnummer | number }}</td>
        <td>{{regel.rekeningnummer | number }}</td>
        <td>{{regel.afbij}}</td>
        <td>{{regel.valuta}}</td>
        <td>{{regel.bedragexclusiefbtw | number }}</td>
        <td>{{regel.bedraginclusiefbtw | number }}</td>
        <td>{{regel.btwpercentage | number }}</td>
        <td>{{regel.transactiesoort}}</td>
        <td>{{regel.kilometers | number }}</td>
    </tr>
    </tbody>
</table>