<h2>Transacties</h2>
<form class="form-inline">
    <div class="btn-group">
        <button class="btn" ng-click="refresh()">Refresh</button>
        <button class="btn" ng-click="toevoegPopup()">Toevoegen</button>
    </div>
    <label for="filter">Filter</label>
    <input type="text" class="input-mini" id="filter" name="filter" ng-model="filter"/>
    <table class="table">
        <thead>
        <tr>
            <!--
            <th>Id</th>
            <th>Boek</th>
            -->
            <th>Datum <i class="{{sortIcon('datum')}}" ng-click="sort('datum')"></i></th>
            <th>Omschr <i class="{{sortIcon('omschrijving')}}"  ng-click="sort('omschrijving')"></i></th>
            <th>Bonnr <i class="{{sortIcon('bonnummer')}}"  ng-click="sort('bonnummer')"></i></th>
            <th>Reknr <i class="{{sortIcon('rekeningnummer')}}"  ng-click="sort('rekeningnummer')"></i></th>
            <th>Af/Bij <i class="{{sortIcon('afbij')}}"  ng-click="sort('afbij')"></i></th>
            <th>Valuta <i class="{{sortIcon('valuta')}}"  ng-click="sort('valuta')"></i></th>
            <th>Bedr excl <i class="{{sortIcon('bedragexclusiefbtw')}}"  ng-click="sort('bedragexclusiefbtw')"></i></th>
            <th>Bedr incl <i class="{{sortIcon('bedraginclusiefbtw')}}"  ng-click="sort('bedraginclusiefbtw')"></i></th>
            <th>Btw% <i class="{{sortIcon('btwpercentage')}}"  ng-click="sort('btwpercentage')"></i></th>
            <th>Soort <i class="{{sortIcon('transactiesoort')}}"  ng-click="sort('transactiesoort')"></i></th>
            <th>Km <i class="{{sortIcon('kilometers')}}"  ng-click="sort('kilometers')"></i></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="13">
                <label>Records: {{transactiesCount}}</label>
                <label for="offset">Offset</label><input value="0" name="offset"
                                                         id="offset" type="text"
                                                         ng-model="offset"
                                                         class="input-mini"/>
                <label for="limit">Limit</label><input value="10" name="limit"
                                                       id="limit"  type="text"
                                                       ng-model="limit"
                                                       class="input-mini"/>
                <input type="submit" value="Refresh" ng-click="refresh()"/>
            </td>
        </tr>
        </tfoot>
        <tbody>
        <tr data-ng-repeat="transactie in transacties | filter:filter | orderBy:sortCol:sortReverse ">
            <!--
            <td>{{transactie.id}}</td>
            <td>{{transactie.boek}}</td>
            -->
            <td style="white-space: nowrap;">{{transactie.datum | date:'MM/dd/yyyy'}}</td>
            <td>{{transactie.omschrijving}}</td>
            <td>{{transactie.bonnummer| number}}</td>
            <td>{{transactie.rekeningnummer| number}}</td>
            <td>{{transactie.afbij}}</td>
            <td>{{transactie.valuta}}</td>
            <td>{{transactie.bedragexclusiefbtw | number }}</td>
            <td>{{transactie.bedraginclusiefbtw | number }}</td>
            <td>{{transactie.btwpercentage | number }}</td>
            <td>{{transactie.transactiesoort}}</td>
            <td>{{transactie.kilometers | number}}</td>
        </tr>
        </tbody>

    </table>
</form>